$background-primery-color: #0c0c0c;
$background-secundary-color: #121212;
$background-tertiary-color: #252525;

$text-primary-color: #fff;
$text-secundary-color: #008000;
$text-tertiary-color: #000;

$hover-image-transition-color: hsla(120, 100%, 25%, 0.712); 