$background-primery-color: #f3f3f3;
$background-secundary-color: #dadada;
$background-tertiary-color: #bdbdbd;

$text-primary-color: #000;
$text-secundary-color: #ff0000;
$text-tertiary-color: #fff;

$hover-image-transition-color: hsla(0, 100%, 50%, 0.712);