@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 28px;
}